@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;600;800&display=swap');

:root{
    --color-blue: #00C6FF;
    --color-blue-opacity: #00c8ff98;
    --color-white: white;
    --color-gray: #222222;
    --color-darker-gray: #111111;
    --color-lighter-gray: #333333;
    --background-gradient: linear-gradient(to right bottom, #000320 20%, #191654 90%);
}
::-webkit-scrollbar{
    display: none;
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Fonts */

h2, h3, h4, p, label{
    color: var(--color-blue);
}
h2{
    font-size: clamp(2.1rem, 6vw, 5rem);
}
h3{
    font-size: clamp(2.3rem, 6vw, 4rem);
}
h4{
    font-size: clamp(2.1rem, 6vw, 2.6rem);
}
p{
    font-size: clamp(1.6rem, 4.5vw, 2.1rem);
}
label{
    font-size: clamp(1.6rem, 4.5vw, 2.8rem);
}

/* preloader-stage */

.load-page{
    position: absolute;
    display: flex;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-image: var(--background-gradient);
    transition: transform 0.5s;
}
.loader{
    position: relative;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.loader::before,
.loader::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}
.loader::before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
    animation: spin .5s infinite linear;
}
.loader::after{
    width: 85%;
    height: 85%;
    background-image: var(--background-gradient);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }   
}
.load-page-out{
    transform: translateX(-100%);
}

/* Header or Nav */

.nav{
    position: fixed;
    display: flex;
    justify-content: space-between ;
    width: 100vw;
    height: 10vh;
    background-image: var(--background-gradient);
}
.nav-img-div{  
    display: flex;
    flex: 4;
}
.nav-img{
    max-width: 90%;  
    height: 10vh;
}
.nav-ul{
    display: flex;
    flex: 3;  
    justify-content: end; 
}
.nav-ul li{
    font-size: clamp(9px, 5vw, 25px);
    margin: auto;
    list-style: none;
}
.nav-ul li a{
    position: relative;
    color: var(--color-blue);
    text-decoration: none;
}
.nav-ul li ::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -15%;
    width: 100%;
    height: 2px;
    background-color: var(--color-blue);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}
.nav-ul li :hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
.words li{
    margin: auto min(15px);
}
.words{
    display: none;
}

/* Main Sections */

.main{
    display: flex;
    overflow-x: hidden;
    background-color: var(--color-white);   
}
.sections{
    margin-top: 10vh;
    min-width: 100vw;
    height: 90vh;
    overflow-y: auto;
    background-color: var(--color-gray);
}


/* --First Section-- */

.section-1-div{
    display: flex;
    flex-wrap: wrap;  
    height: 100%;
}

/* Principal Banner */

.section-1-banner{
    width: 100%;
    height: 90vh;
    display: flex;
    background-image: url(./images/programing.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: 0px 25px 50px var(--color-darker-gray);
}
.section-1-welcome-container{
    margin: auto ;
    padding: clamp(20px, 10%, 50px);
    background-color: var(--color-gray);
}
.section-1-welcome-container h2{
    position: relative;
    margin: auto;
    width: max-content;
    font-weight: 600;
    font-family: "Source Code Pro", monospace;
}
.section-1-welcome-container h2::before,
.section-1-welcome-container h2::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.section-1-welcome-container h2::before{
    background: var(--color-gray);
    animation: typewriter 4s steps(24) forwards 1s;
}
.section-1-welcome-container h2::after{
    width: 0.125em;
    background-color: var(--color-blue);
    animation: 
    typewriter 4s steps(24) forwards 1s,
    blink 0.7s steps(24) infinite;
}
@keyframes typewriter {
    to {
        left: 100%;
    }   
}
@keyframes blink {
    to {
        background: transparent;
    }
}
.section-1-welcome-container p{
    text-align: center;
    opacity: 0;
    animation: fading 1s forwards 6s;
}
@keyframes fading {
    to {
        opacity: 1;
    }   
}

/* Content 1 */

.section-1-div-content-1{
    margin: auto;
}
.content-1-container{
    margin: clamp(15px, 7%, 25px);
    padding: clamp(15px, 5%, 45px);
    background-color: var(--color-lighter-gray);
    box-shadow: 0px 7.5px 15px var(--color-darker-gray);
}
.content-1-container p{
    text-align: justify;   
}

/* Content 2 */

.section-1-div-content-2-container{
    min-width: 250px;
    margin: clamp(15px, 5%, 45px);
    padding: clamp(10px, 5%, 15px);
    position: relative;
    background-color: var(--color-lighter-gray);
    box-shadow: 0px 7.5px 15px var(--color-darker-gray);
}
.section-1-div-content-2{
    display: flex;
    flex-direction: column;
}
.section-1-div-content-2 h3{
    color: var(--color-blue);
    display: inline;
    padding: 2%;
    border-radius: 10px;
    border: solid 3px var(--color-blue);
}

.content-2-imgs-div{
    position: relative;
    aspect-ratio: 1 / 1;
    margin: 5% 25%;
    border-radius: 50%;
    background-image: var(--background-gradient);
    overflow: hidden;
}
.content-2-imgs{
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-position: center center;
    background-size: cover;
    transition: opacity 1s;
    opacity: 0%;
}
#marvel{
    background-image: url(./images/Marvel-logo.jpg);
}
#gaming{
    background-image: url(./images/Steam.jpg);
}
#anime{
    background-image: url(./images/crunchyroll.png);
}
#music{
    background-image: url(./images/Spotify.jpg);
}
#voley{
    background-image: url(./images/Voley.jpg);
}
.showingimg{
    opacity: 100%;
}
.content-2-btns-div{
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
}
.radio-btn{
    cursor: pointer;
}
.content-2-descriptions-div{
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    border: solid 3px var(--color-blue);
}
.content-2-descriptions{
    min-width: 90%;
    padding: 5%;   
    opacity: 0;
    transition: 1s;
}
.showingmarvel{
    opacity: 100;
    margin-left: 0;
}
.showinggaming{
    opacity: 100;
    margin-left: -100%;
}
.showinganime{
    opacity: 100;
    margin-left: -200%;
}
.showingmusic{
    opacity: 100;
    margin-left: -300%;
}
.showingvoley{
    opacity: 100;
    margin-left: -400%;
}

/* Content 3 */

.section-1-div-content-3{
    width: 100%;
    margin: 2% 0%;
    padding: clamp(15px, 5%, 30px);
    background-color: var(--color-lighter-gray);
    box-shadow: 0px 5px 15px var(--color-darker-gray);
}
.section-1-div-content-3 h3 {
    text-align: center;
}
.content-3-data-container{
    display: flex;
    flex-wrap: wrap;
}
.content-3-data{
    position: relative;
    flex: 1;
    overflow: hidden;
    min-width: 250px;
    margin: clamp(5px, 5%, 10px);
    padding: clamp(5px, 5%, 10px);
    background-color: #454545;
    border-radius: 15px;
    border: solid 3px #454545;
    transition: border 1s,
                box-shadow 1s;
}
.content-3-data:hover{
    border: solid 3px var(--color-blue);
    box-shadow: 0px 5px 15px var(--color-darker-gray);
}
.content-3-data:hover > :is(h4, ul){
    color: var(--color-blue);
}
.content-3-data h4{
    text-align: center;
    color: #454545;
    transition: color 1s;
}
.content-3-data ul{
    position: relative;
    color: #454545;
    padding: clamp(5px, 5%, 15px);
    transition: color 1s;
}
.content-3-data ul li{
    color: inherit;
    list-style-position: outside;
}
.content-3-data ul li p{
    color: inherit;
}

/* Content 4 */

.section-1-div-content-4{
    margin-top: 2%;
    padding: clamp(15px, 5%, 15px);
    padding-bottom: 0;
    width: 100%;
    height: 20vh;
    max-height: 100px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-image: var(--background-gradient);
}
.content-4-redes{
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: auto;
    display: flex;
}
.content-4-red{
    width: 100%;
    height: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
}
.content-4-red a{
    margin: auto;
    font-size: 500%;
    color: var(--color-blue);
    text-decoration: none;
    transition: color 1s;
}
.github{
    flex: 1;
    background-image: linear-gradient(to bottom, white 50% , transparent 50%);
    -webkit-background-size: 300%;
    background-position: bottom center;
    transition: background-position 1s;
}
.github:hover{
    background-position: top center;
}
.github:hover > a{
    color: #333333;
}
.whatsapp{
    flex: 1;
    background-image: linear-gradient(to bottom, #4FCE5D 50%, transparent 50%);
    -webkit-background-size: 300%;
    background-position: bottom center;
    transition: background-position 1s;
}
.whatsapp:hover{
    background-position: top center;
}
.whatsapp:hover > a{
    color: white;
}
.instagram{
    flex: 1;
    background-image: linear-gradient(to bottom, #feda77, #f58529, #dd2a7b, #8134af, #515bd4 50%, transparent 50%);
    -webkit-background-size: 300%;
    background-position: bottom center;
    transition: background-position 1s;
}
.instagram:hover{
    background-position: top center;
}
.instagram:hover > a{
    color:  white;
}

/* --Second Section-- */

.section-2-div{
    padding: clamp(15px, 5%, 15px); 
    text-align: center;
}
.section-2-div h2{
    display: inline-block;
    padding: clamp(10px, 5%, 15px);
    font-size: clamp(3.2rem, 9vw, 4rem);
    text-align: center;
    background-color: #353535;
    border-radius: 25px;
}
.tech-divs-container{
    display: grid;
    padding: clamp(15px, 5%, 25px);
    gap: 2rem;
    grid-auto-rows: 180px;
    grid-template-columns: repeat(auto-fill, minmax(clamp(100px, 15vw, 150px), 1fr));
}
.section-2-tech-divs{
    overflow: hidden;
    border-radius: 10px; 
    background-color: var(--color-blue);
    background-position: center center;
    background-size: cover;
    transition: box-shadow 0.5s,
                transform 0.5s;
}
.section-2-tech-divs:hover{
    box-shadow: 0px 5px 15px var(--color-darker-gray);
    transform: scale(1.1);
}
.tech-div-content{
    display: flex;
    padding: 5%;
    height: 100%;
    transition: all 0.5s;
}
.tech-div-content:hover{
    backdrop-filter: blur(5px);
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.5);  
}
.tech-div-content h4{
    margin: auto;
    text-align: center;
    opacity: 0%;
    color: black;
    transition: opacity 0.5s;
}
.tech-div-content:hover h4{
    opacity: 100%;
}
#html{
    background-image: url(./images/html5.png);
}
#css{
    background-image: url(./images/css3.png);
}
#js{
    background-color: #f1bf22;
    background-image: url(./images/javascript-removebg-preview.png);
}
#bootstrap{
    background-image: url(./images/bootstrap.png);
}
#react{
    background-image: url(./images/react.js.png);
}
#angular{
    background-image: url(./images/angular.png);
}
#bem{
    background-image: url(./images/bem3.jpg);
}
#git{
    background-image: url(./images/git.png);
}

/* --Third Section-- */

.section-3-div{
    background-color: #353535;
    padding: clamp(15px, 5%, 25px);
}

/* --Fourth Section-- */

.section-4-div{
    padding: clamp(15px, 5%, 25px);
    display: flex;
}
.section-4-form{
    margin: auto;
    padding: clamp(15px, 5%, 25px);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #353535;   
}
.section-4-form h2{
    margin: auto;
    display: inline-block;
    padding: clamp(10px, 3%, 20px);
    margin-bottom: 5%;
    border-radius: 15px;
    border: solid 3px var(--color-blue);
}
.section-4-form label{
    margin: 2%;
    color: var(--color-blue);
}
.section-4-form :is(input, textarea){
    color: var(--color-white);
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    background-color: var(--color-blue-opacity) !important;
}
.section-4-form input{
    padding: 10px;
}
.section-4-form textarea{
    padding: 16px;
}
.section-4-form input:focus{
    background-color: var(--color-blue);
}
.section-4-form button{
    margin: 5% 0 0 0;
    padding: 2%;
    cursor: pointer;
    border: none;
    background-color: var(--color-blue);
    transition: transform 0.5s;
}
.section-4-form button:hover{
    transform: scale(1.05);
}

/* --MEDIA QUERYS-- */

@media (orientation: landscape) {
    .section-1-div-content-1{
        flex: 2;
    }
    .section-1-div-content-2-container{
        flex: 1;
    }
    .words{
        display: flex;
    }
    .icons{
        display: none;
    }
}
